<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<header id="header" class="">
		
		<div class="container div-title clr">
			<div class="div-title-left">
				<div class="div-title-logo">
					<img src="../images/logo.png" alt="">	
				</div>
				<div class="div-title-name">
					<h3>PHÒNG KHÁM CHUYÊN KHOA</h3>
					<span>Vật lý trị liệu - Phục hồi chức năng</span>
				</div>
			</div>
			<div class="div-title-right">
				<span class="contact">Câu hỏi cho bác sĩ? 05113941 977</span>
			</div>
		</div>

		<div class="div-menu clr">
			<nav class="container">
				<ul >
					<li><a href="">Trang chủ</a></li>
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Dịch vụ y tế</a></li>
					<li><a href="">Y học thường thức</a></li>
					<li><a href="">Đặt lịch khám</a></li>
					<li><a href="">Tư vấn & liên hệ</a></li>
					<li>
						<ul>
							<li><a href=""><img src="../images/icon-facebook.png" alt=""></a></li>
							<li><a href=""><img src="../images/icon-gplus.png" alt=""></a></li>
							<li><a href=""><img src="../images/icon-youtube.png" alt=""></a></li>
						</ul>
					</li>
				</ul>		
			</nav>
			
		</div>	
		<div class="bg">
			<p class="container">Trang chủ / Dịch vụ y tế</p>
		</div>

	</header><!-- /header -->

	<main class="container clr">
		<aside class="sidebar-left">
			<div class="menu-sidebar">
				
				<span>Người lớn</span>
					<ul>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cột sống</a></li>
						<li><a href="">Thoát vị đĩa đệm</a></li>
						<li><a href="">Khớp gối, khớp hông</a></li>
						<li><a href="">Đau chân</a></li>
						<li><a href="">Các bệnh về cơ</a></li>
						<li><a href="">Thần kinh ngoại biên</a></li>
						<li><a href="">Di chứng tai biến mạch máu não</a></li>
						<li><a href="">Di chứng chấn thương</a></li>
					</ul>
				<span>Trẻ em</span>
				
			</div>
			<form class="form-sidebar" action="" method="get" accept-charset="utf-8">
				<h4>Đặt lịch khám</h4>
				<div>
					<input type="text" name="username" id="name" placeholder="Họ và tên">
				</div>
				<div>
					<input type="text" name="address" id="add" placeholder="Địa chỉ">
				</div>
				<div>
					<input type="text" name="phonenumber" id="phone" placeholder="Số điện thoại">
				</div>
				<div>
					<input type="date" name="time" id="time" placeholder="Thời gian">
				</div>
				<div>
					<button type="submit" name="submit">Đặt lịch</button>
				</div>				
			</form>
		</aside>
		<div class="col-main">
			<ul class="news-list clr">
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-1.jpg" alt=""></a>
						
						<a class="news-title" href="">ĐAU CỔ VTAY</h4></a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-2.jpg" alt=""></a>
						
						<a class="news-title" href="">ĐAU CỘT SỐNG</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-3.jpg" alt=""></a>
						
						<a class="news-title" href="">THOÁT VỊ ĐĨA ĐỆM</h4></a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-4.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-5.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-6.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-7.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-8.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
				<li class="item">
					<div class="news">
						
						<a class="news-img" href=""><img src="../images/news/news-9.jpg" alt=""></a>
						
						<a class="news-title" href="">CHẬM NÓI</a>
						<p class="news-content">Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						
						<a class="news-link" href=""><img src="../images/icon-arrow.png" alt=""></a>
						
					</div>
				</li>
			</ul>
		</div>
	</main>
	<footer>
		<div class="clr">
			<div class="container footer-info">
				<ul> VỀ PHÒNG KHÁM
					<li><a href="">Giới thiệu chung</a></li>
					<li><a href="">Nhân lực</a></li>
					<li><a href="">Trang thiết bị và cơ sở vật chất</a></li>
				</ul>
				<ul> HỖ TRỢ
					<li><a href="">Tư vấn sức khỏe</a></li>
					<li><a href="">Y học thường thức</a></li>
					<li><a href="">Đặt lịch khám</a></li>
				</ul>
				<ul> KẾT NỐI XÃ HỘI
					<li class="footer-social"><a href=""><img src="../images/icon-facebook.png" alt=""> Facebook</a></li>
					<li class="footer-social"><a href=""><img src="../images/icon-gplus.png" alt="">Google</a></li>
					<li class="footer-social"><a href=""><img src="../images/icon-youtube.png" alt="">Youtube</a></li>
				</ul>
			</div>
			
			<div class="coppy-right">
				<div class="container">
					<span>@2017 - Bản quyền thuộc phòng khám chuyên khoa</span>
					<p>Phát triển bởi <a href="http://kovo.vn/">KOVO.VN</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
