<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<header id="header" class="">
		<div class="container">
			<div>
				<img src="../images/logo.png" alt="">
				<h3>PHÒNG KHÁM CHUYÊN KHOA</h3>
				<p>Vật lý trị liệu - Phục hồi chức năng</p>
			</div>
			<div>
				<img src="../images/icon-telephone.png" alt="">
				<span>Câu hỏi cho bác sĩ? 05113941 977</span>
			</div>
			<nav>
				<ul>
					<li><a href="">Trang chủ</a></li>
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Dịch vụ y tế</a></li>
					<li><a href="">Y học thường thức</a></li>
					<li><a href="">Đặt lịch khám</a></li>
					<li><a href="">Tư vấn & liên hệ</a></li>
				</ul>		
			</nav>
			<ul>
				<li><a href=""><img src="../images/icon-facebook.png" alt=""></a></li>
				<li><a href=""><img src="../images/icon-gplus.png" alt=""></a></li>
				<li><a href=""><img src="../images/icon-youtube.png" alt=""></a></li>
			</ul>
		</div>
		<img src="../images/bg.jpg" alt="">
	</header><!-- /header -->

	<main class="container">
		<aside>
			<div>
				<ul>
					<li><a href="">Người lớn</a>
						<ul>
							<li><a href="">Đau cổ-vai-tay</a></li>
							<li><a href="">Đau cột sống</a></li>
							<li><a href="">Thoát vị đĩa đệm</a></li>
							<li><a href="">Khớp gối, khớp hông</a></li>
							<li><a href="">Đau chân</a></li>
							<li><a href="">Các bệnh về cơ</a></li>
							<li><a href="">Thần kinh ngoại biên</a></li>
							<li><a href="">Di chứng tai biến mạch máu não</a></li>
							<li><a href="">Di chứng chấn thương</a></li>
						</ul>
					</li>
					<li><a href="">Trẻ em</a></li>
				</ul>
			</div>
			<form action="" method="get" accept-charset="utf-8">
				<h4>Đặt lịch khám</h4>
				<div>
					<input type="text" name="username" id="name" placeholder="Họ và tên">
				</div>
				<div>
					<input type="text" name="address" id="add" placeholder="Địa chỉ">
				</div>
				<div>
					<input type="text" name="phonenumber" id="phone" placeholder="Số điện thoại">
				</div>
				<div>
					<input type="date" name="time" id="time" placeholder="Thời gian">
				</div>
				<div>
					<button type="submit" name="submit">Đặt lịch</button>
				</div>				
			</form>
		</aside>
		<div>
			<ul>
				<li class="news">
					<a href=""><img src="../images/news/news-1.jpg" alt=""></a>
					<a href=""><h4>ĐAU CỔ VAI TAY</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-2.jpg" alt=""></a>
					<a href=""><h4>ĐAU CỘT SỐNG</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-3.jpg" alt=""></a>
					<a href=""><h4>THOÁT VỊ ĐĨA ĐỆM</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
			</ul>
			<ul>
				<li class="news">
					<a href=""><img src="../images/news/news-4.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-5.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-6.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
			</ul>
			<ul>
				<li class="news">
					<a href=""><img src="../images/news/news-7.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-8.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
				<li class="news">
					<a href=""><img src="../images/news/news-9.jpg" alt=""></a>
					<a href=""><h4>CHẬM NÓI</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipicising elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<a href=""><img src="../images/icon-arrow.png" alt=""></a>
				</li>
			</ul>
		</div>
	</main>
	<footer class="container">
		<div>
			<ul> VỀ PHÒNG KHÁM
				<li><a href="">Giới thiệu chung</a></li>
				<li><a href="">Nhân lực</a></li>
				<li><a href="">Trang thiết bị và cơ sở vật chất</a></li>
			</ul>
			<ul> HỖ TRỢ
				<li><a href="">Tư vấn sức khỏe</a></li>
				<li><a href="">Y học thường thức</a></li>
				<li><a href="">Đặt lịch khám</a></li>
			</ul>
			<ul> KẾT NỐI XÃ HỘI
				<li><a href=""><img src="../images/icon-facebook.png" alt=""> Facebook</a></li>
				<li><a href=""><img src="../images/icon-gplus.png" alt="">Google</a></li>
				<li><a href=""><img src="../images/icon-youtube.png" alt="">Youtube</a></li>
			</ul>
		</div>
		<div>
			<span>@2017 - Bản quyền thuộc phòng khám chuyên khoa</span>
			<p>Phát triển bởi <a href="http://kovo.vn/">KOVO.VN</a></p>
		</div>
	</footer>
</body>
