<form #memberForm="ngForm" (ngSubmit)="addMember(memberForm)">
  <fieldset ngModelGroup="personal">
    <legend>Personal</legend>

    <label for="avatar">Avatar</label>
    <input type="text" name="avatar" id="avatar" ngModel>

    <label for="name">Name</label>
    <input type="text" name="name" id="name" ngModel>

    <label for="birthday">Birthday</label>
    <input type="date" name="birthday" id="birthday" ngModel>

    <label for="skill">Skill</label>
    <input type="text" name="skill" id="skill" ngModel>
  </fieldset>

  <fieldset ngModelGroup="company">
    <legend>Company</legend>

    <label for="joined">Joined at</label>
    <input type="date" name="joined" id="joined" ngModel>

    <label for="team">Team</label>
    <select name="team" id="team" ngModel required>
      <option value="Ruby">Ruby</option>
      <option value="FE">FE</option>
      <option value="PHP">PHP</option>
    </select>
  </fieldset>

  <button type="submit" [disabled]="!memberForm.form.valid">Add member</button>
</form>

<h1>List user</h1>

<table class="table table-hover">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Joined</th>
    <th>Team</th>
  </tr>
  <tr *ngFor="let member of members">
      <td><img src="{{member.personal.avatar}}" alt=""></td>
      <td>{{member.personal.name}}</td>
      <td>{{member.personal.birthday}}</td>
      <td>{{member.company.joined}}</td>
      <td>{{member.company.team}}</td>
    </tr>
</table>