<form [formGroup]="memberForm" novalidate (ngSubmit)="addMember(memberForm.value)">
  <fieldset formGroupName="personal">
    <legend>Personal</legend>

    <label for="avatar">Avatar</label>
    <input type="text" name="avatar" id="avatar" formControlName="avatar">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" formControlName="name">

    <label for="birthday">Birthday</label>
    <input type="date" name="birthday" id="birthday" formControlName="birthday">
  </fieldset>

  <fieldset formGroupName="company">
    <legend>Company</legend>

    <label for="joined">Joined at</label>
    <input type="date" name="joined" id="joined" formControlName="joined">

    <label for="team">Team</label>
    <select name="team" id="team" formControlName="team">
      <option value="Ruby">Ruby</option>
      <option value="FE">FE</option>
      <option value="PHP">PHP</option>
    </select>
  </fieldset>

  <label for="skill">Skill</label>
  <input type="text" name="skill" id="skill" formControlName="skill">
  <small [hidden]="memberForm.controls.skill.valid">
      Needs main skill
  </small>

  <button type="submit" [disabled]="!memberForm.valid">Add member</button>
</form>

<h1>List user</h1>

<table class="table table-hover">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Team</th>
    <th>Skill</th>
  </tr>
  <tr *ngFor="let member of members">
      <td><img src="{{member.personal.avatar}}" alt=""></td>
      <td>{{member.personal.name}}</td>
      <td>{{member.personal.birthday}}</td>
      <td>{{member.company.team}}</td>
      <td>{{member.skill}}</td>
      <td><button (click)="editMember(member)">Edit</button></td>
    </tr>
</table>