<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" RouterLinkActiveOption="exact: true">
        <a [routerLink]="['']" >Home</a>
      </li>
      <li [routerLinkActive]="['active']" >
        <a [routerLink]="['articles']">List</a>
      </li>
      <li [routerLinkActive]="['active']" >
        <a [routerLink]="['about']">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
