* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.clr::after, main .sidebar-left .form-sidebar .form-title::after {
  clear: both;
  content: "";
  display: block; }

/* header - logo and name of owner - contact information*/
.div-title {
  height: 100px; }
  .div-title .div-title-left {
    float: left;
    width: 50%; }
    .div-title .div-title-left .div-title-logo {
      float: left;
      padding: 10px 10px; }
    .div-title .div-title-left .div-title-name {
      padding: 25px 10px;
      display: inline-block;
      text-align: center; }
  .div-title .div-title-right {
    background: url(../images/icon-telephone.png);
    background-repeat: no-repeat;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    top: 5%;
    right: 12%; }
    .div-title .div-title-right .contact, .div-title .div-title-right .phonenumber {
      padding-left: 40px;
      padding-top: 10px; }
    .div-title .div-title-right .phonenumber {
      padding-left: 2px;
      color: #62c6f8; }

/* header - menu*/
.div-menu {
  /*div cover outline menu*/
  height: 60px;
  border-top: 1px solid #b8b8b8; }
  .div-menu div ul {
    list-style-type: none;
    overflow: hidden; }
    .div-menu div ul li {
      float: left;
      border-right: 1px solid #b8b8b8; }
      .div-menu div ul li a {
        display: block;
        color: gray;
        text-align: center;
        padding: 20px 10px;
        height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px; }
      .div-menu div ul li a:hover {
        background-color: #d7d9dd; }
    .div-menu div ul li:last-child {
      float: right;
      border: none; }
      .div-menu div ul li:last-child ul {
        list-style-type: none;
        overflow: hidden; }
        .div-menu div ul li:last-child ul li {
          /* li tag contains other ul / li tag*/
          border-right: none; }
          .div-menu div ul li:last-child ul li a:hover {
            background-color: white; }

.bg {
  background: url("../images/bg.jpg");
  height: 160px;
  position: relative; }
  .bg .breadcrumb {
    list-style: none;
    font-size: 17px;
    position: absolute;
    top: 45%; }
    .bg .breadcrumb li {
      display: inline; }
      .bg .breadcrumb li a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px; }
      .bg .breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
    .bg .breadcrumb li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0"; }

main {
  padding-top: 50px;
  padding-bottom: 30px; }
  main .col-main {
    width: 74%;
    float: right; }
    main .col-main .news-list {
      width: 100%; }
      main .col-main .news-list .item {
        width: 33.33%;
        padding: 5px 5px;
        float: left;
        list-style-type: none; }
        main .col-main .news-list .item .news {
          border: 0.5px solid #ebebeb;
          position: relative; }
          main .col-main .news-list .item .news .news-img img {
            width: 100%;
            padding-bottom: 20px; }
          main .col-main .news-list .item .news .news-link {
            background: url("../images/icon-arrow.png") no-repeat center #62c6f8;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 7%;
            height: 7%; }
          main .col-main .news-list .item .news .news-title {
            text-decoration: none;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            font-weight: bold; }
          main .col-main .news-list .item .news .news-content {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 30px; }
      main .col-main .news-list .items:nth-child(3n+1) {
        clear: left; }
  main .sidebar-left {
    width: 24%;
    margin-right: 2%;
    float: left; }
    main .sidebar-left .menu-sidebar ul {
      list-style-type: none; }
      main .sidebar-left .menu-sidebar ul li .title-menu-sidebar {
        width: 100%;
        height: 40px;
        list-style-type: none;
        background-color: #d9e4e9;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        line-height: 40px;
        padding-left: 10%; }
      main .sidebar-left .menu-sidebar ul li ul {
        list-style-type: disc;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%; }
        main .sidebar-left .menu-sidebar ul li ul li a {
          text-decoration: none;
          color: black; }
    main .sidebar-left .form-sidebar {
      margin-top: 30px;
      display: block;
      background-color: #d9e4e9; }
      main .sidebar-left .form-sidebar .form-title {
        padding: 10px 10%;
        text-transform: uppercase;
        font-weight: bold; }
      main .sidebar-left .form-sidebar .form-title::after {
        width: 30%;
        border: 1px solid #4bbc56;
        margin: 5%; }
      main .sidebar-left .form-sidebar div input {
        width: 80%;
        height: 30px;
        margin-left: 10%;
        margin-bottom: 10px; }
      main .sidebar-left .form-sidebar div button {
        width: 35%;
        height: 35px;
        background-color: #4bbc56;
        text-align: center;
        color: white;
        margin-bottom: 10px;
        margin-left: 30%;
        margin-right: 30%; }

/*footer*/
footer {
  background-color: #62c6f8; }
  footer .footer-info {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px; }
    footer .footer-info div .info {
      display: inline-block;
      width: 32.33%;
      color: white; }
      footer .footer-info div .info span {
        font-weight: bold;
        line-height: 35px; }
      footer .footer-info div .info ul li {
        padding-left: 5px;
        padding-bottom: 3px; }
        footer .footer-info div .info ul li a {
          color: white;
          text-decoration: none;
          font-weight: normal; }
    footer .footer-info div.info-social li {
      list-style-type: none; }
      footer .footer-info div.info-social li a img {
        vertical-align: middle;
        padding-right: 5px; }
  footer .coppy-right {
    color: white;
    border-top: 1px solid white;
    padding-top: 15px; }
    footer .coppy-right div span {
      float: left;
      padding-bottom: 15px; }
    footer .coppy-right div p {
      float: right;
      padding-bottom: 15px; }
